body h1 {
    background-color: white;
    color: brown;
    text-align: center;
}


/*
#top {
    position: fixed;
}
*/

.gallery img {
    height: 200px;
    width: 210px;
    padding: 3px;
    filter: grayscale(100%);
    transition: 1s;
    cursor: zoom-in;
}

.gallery img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.clock {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.clock img {
    display: inline-block;
}

.fill {
    background-image: url(../images/images1.jpeg);
    width: 150px;
    height: 150px;
    position: relative;
    top: 5px;
    left: 5px;
    cursor: move;
}

.empty {
    display: inline-block;
    margin: 10px;
    border: 2px solid goldenrod;
    height: 160px;
    width: 160px;
}

.hold {
    border: 5px solid slategrey;
}

.hovered {
    background: burlywood;
    border-style: dashed;
}

.invisible {
    display: none;
}

.login input {
    padding: 8px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: lightgrey;
    width: 200px;
    border-radius: 20px;
}

.login input:hover {
    padding: 9px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgb(63, 176, 221);
    transition: 2s;
    width: 200px;
}

.button {
    padding: 8px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgb(18, 177, 142);
    width: 220px;
}

.button1 {
    padding: 8px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgb(43, 136, 223);
    width: 220px;
}

.button:hover,
.button1:hover {
    transition: 1s;
    text-transform: uppercase;
    border-radius: 20px;
}

.buttonLogin {
    padding: 8px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: 0;
    background: rgb(27, 158, 56);
    width: 100px;
    border-radius: 20px;
}

.buttonLogin:hover {
    padding: 8px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: 0;
    background: rgb(55, 241, 111);
    width: 100px;
    border-radius: 20px;
    transition: 1s;
}

.buttonLogin:checked {
    padding: 8px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: 0;
    background: rgb(187, 14, 28);
    width: 100px;
    border-radius: 20px;
    transition: 1s;
}

#container {
    width: 1000px;
    height: 550px;
    margin: 20px auto;
    background-color: white;
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    top: 20px;
    position: relative;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyboard {
    height: 400px;
}

.operator,
.number,
.empty_calc {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number,
.empty_calc {
    background: white;
}

.number,
.operator {
    cursor: pointer;
}

.number:active,
.operator:active {
    font-size: 13px;
}

.number:focus,
.operator:focus,
.empty_calc:focus {
    outline: 0;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: cyan;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: darkviolet;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: limegreen;
}

button:nth-child(16) {
    font-size: 20px;
    background-color: orange;
}

button:nth-child(20) {
    font-size: 20px;
    background-color: royalblue;
}